
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">


    <hgroup class="bg-danger">
        <h1>Error.</h1>
        <h2>Error al procesar la solicitud, favor de conultar a soporte.</h2>

        @Html.ActionLink("Iniciar sesión", "Index", "Login")

    </hgroup>
</div>